*, *::before, *::after{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold 
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(0, 8, 255), rgb(238, 255, 0));
}

.grid-of-calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.grid-of-calculator > button{
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid black;
    outline: 200px none;
    background-color: rgba(255, 255, 255, .5);
}

.grid-of-calculator > button:hover{
    background-color: rgba(255, 255, 255, .95);
}

.two-spanning{
    grid-column: span 2;
}

.output-section{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output-section .previous-output{
    color: rgba(255, 255, 255, .75);
    font-size: 2rem;
}

.output-section .current-output{
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
}